*{

  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cat{
  max-height:500px;
}
.cart{
margin: 5px;
max-width: 32%;

}
.btny {
overflow: hidden;
padding: 4px;

}
.qq{
  overflow: hidden;
  display: block;
  min-width: 100%;
  padding: 20px;
}